<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"
        >{{ 'global.cancel_button' | transloco }}</ion-button
      >
    </ion-buttons>
    <ion-title>{{ this.pet?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true"
        >{{ 'global.save_button' | transloco }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
        label="{{ 'pages.pet.name_input.label' | transloco }}"
        labelPlacement="floating"
        placeholder="{{ 'pages.pet.name_input.placeholder' | transloco }}"
        value="{{ this.pet?.name }}"
        (ionChange)="handleNameChange($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        interface="action-sheet"
        cancelText="{{ 'global.cancel_button' | transloco }}"
        placeholder="{{ 'pages.pet.animal_species' | transloco }}"
        value="{{ this.pet?.species }}"
        (ionChange)="handleSpeciesChange($event)"
      >
        <ion-select-option
          *ngFor="let enum of animalSpecies | keyvalue"
          value="{{ enum.key }}"
          >{{ enum.value | transloco }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" (click)="addPicture()"
        >{{ this.pet?.image ? ("pages.pet.change_picture" | transloco) :
        ("pages.pet.add_picture" | transloco) }}</ion-button
      >
      <ion-thumbnail slot="end">
        <img src="{{ this.pet?.image }}" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ 'pages.pet.medicines_title' | transloco }}<ion-icon
          name="flask-sharp"
        ></ion-icon
      ></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item *ngFor="let medicine of this.pet?.medicines">
          <ion-icon
            slot="start"
            name="create-sharp"
            (click)="setMedicine(medicine)"
          ></ion-icon>
          <p (click)="setMedicine(medicine)">{{ medicine.name }}</p>
          <ion-icon
            slot="end"
            name="trash-sharp"
            (click)="deleteMedicine(medicine)"
          ></ion-icon>
        </ion-item>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="setMedicine()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ 'pages.pet.foods_title' | transloco }}
        <ion-icon name="restaurant-sharp"></ion-icon
      ></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item *ngFor="let food of this.pet?.foods">
          <ion-icon
            slot="start"
            name="create-sharp"
            (click)="setFood(food)"
          ></ion-icon>
          <p (click)="setFood(food)">{{ food.name }}</p>
          <ion-icon
            slot="end"
            name="trash-sharp"
            (click)="deleteFood(food)"
          ></ion-icon>
        </ion-item>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="setFood()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button
          expand="block"
          color="primary"
          (click)="inviteUserToSharedPet($event)"
        >
          {{ 'global.share_button' | transloco }}
        </ion-button>
        <br />
        <ion-button expand="block" color="danger" (click)="deletePet()">
          {{ 'global.delete_button' | transloco }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
