<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ this.mode }} medicine</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ this.mode }} medicine</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input
        label="Name"
        labelPlacement="floating"
        placeholder="For example 'insulin'"
        value="{{ this.medicine.name }}"
        (ionChange)="handleNameChange($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Dosage"
        labelPlacement="floating"
        placeholder="For example '10ml' or 'half a tablet'"
        value="{{ this.medicine.dosage }}"
        (ionChange)="handleDosageChange($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-list [inset]="true">
        <ion-item *ngFor="let frequency of this.medicine.frequencies">
          <ion-icon
            slot="start"
            name="create-sharp"
            (click)="setFrequency(frequency)"
          ></ion-icon>
          <p (click)="setFrequency(frequency)">{{ frequency.toString() }}</p>
          <ion-icon
            slot="end"
            name="trash-sharp"
            (click)="deleteFrequency(frequency)"
          ></ion-icon>
        </ion-item>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="setFrequency()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-item>
  </ion-list>
</ion-content>
