<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pets">
      <ion-icon aria-hidden="true" name="paw-sharp"></ion-icon>
      <ion-label>{{ 'pages.mypets.name' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todo">
      <ion-icon aria-hidden="true" name="list-sharp"></ion-icon>
      <ion-label>{{ 'pages.todo.name' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon aria-hidden="true" name="person-sharp"></ion-icon>
      <ion-label>{{ 'pages.account.name' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings-sharp"></ion-icon>
      <ion-label>{{ 'pages.settings.name' | transloco }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
