<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'pages.account.name' | transloco }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="auth.SignOut()" *ngIf="auth.isLoggedIn">
        <ion-icon slot="icon-only" name="log-out-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="!auth.isLoggedIn">
    <ion-row>
      <ion-col align-self-center>
        <ion-button
          (click)="openRegistrationModal()"
          expand="block"
          color="primary"
          >{{ 'pages.account.register' | transloco }}</ion-button
        >
        <span class="divider line one-line">{{ 'global.or' | transloco }}</span>
        <span class="already"
          >{{ 'pages.account.already_user' | transloco }}</span
        >
        <ion-button (click)="openLoginModal()" expand="block" color="danger"
          >{{ 'pages.account.signin' | transloco }}</ion-button
        >
        <!--
        <span class="divider line one-line">or</span>
        <ion-button
          (click)="signInWithGoogle()"
          type="submit"
          color="danger"
          expand="block"
          >Sign In with Google</ion-button
        >
        -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="auth.isLoggedIn">
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="auth.SignOut()" expand="block" color="danger"
          >{{ 'pages.account.signout' | transloco }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
