<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Account </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
      <ion-icon
        name="log-out-sharp"
        slot="end"
        (click)="auth.SignOut()"
        *ngIf="auth.isLoggedIn"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="!auth.isLoggedIn">
    <ion-row>
      <ion-col align-self-center>
        <ion-button
          (click)="openRegistrationModal()"
          expand="block"
          color="primary"
          >Register</ion-button
        >
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button (click)="openLoginModal()" expand="block" color="danger"
          >Sign In</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text *ngIf="auth.isLoggedIn">Logged in!</ion-text>
</ion-content>
