<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add a new Pet</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
        label="Name"
        labelPlacement="floating"
        placeholder="Enter name of the pet"
        (ionChange)="handleNameChange($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        aria-label="Species"
        interface="action-sheet"
        placeholder="Select species of the pet"
        (ionChange)="handleSpeciesChange($event)"
      >
        <ion-select-option
          *ngFor="let enum of petSpecies | keyvalue"
          value="{{ enum.value }}"
          >{{ enum.value }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" (click)="addPicture()"
        >{{ this.pet.image ? "Change Picture" : "Add Picture" }}</ion-button
      >
      <ion-thumbnail slot="end">
        <img src="{{ this.pet.image }}" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
