<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" size="small"
        >{{ 'global.cancel_button' | transloco }}</ion-button
      >
    </ion-buttons>
    <ion-title>{{ 'pages.add_pet.name' | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true" size="small"
        >{{ 'global.save_button' | transloco }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
        label="{{ 'pages.add_pet.name_input.label' | transloco }}"
        labelPlacement="floating"
        placeholder="{{ 'pages.add_pet.name_input.placeholder' | transloco }}"
        (ionChange)="handleNameChange($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        interface="action-sheet"
        cancelText="{{ 'global.cancel_button' | transloco }}"
        placeholder="{{ 'pages.add_pet.animal_species' | transloco }}"
        (ionChange)="handleSpeciesChange($event)"
      >
        <ion-select-option
          *ngFor="let enum of animalSpecies | keyvalue"
          value="{{ enum.key }}"
          >{{ enum.value | transloco }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" (click)="addPicture()"
        >{{ this.pet.image ? ("pages.add_pet.change_picture" | transloco) :
        ("pages.add_pet.add_picture" | transloco) }}</ion-button
      >
      <ion-thumbnail slot="end">
        <img src="{{ this.pet.image }}" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
