<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'pages.settings.name' | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon-sharp"></ion-icon>
      <ion-label>{{ 'pages.settings.use_dark_theme' | transloco }}</ion-label>
      <ion-toggle
        [checked]="useDarkTheme"
        (ionChange)="toggleDarkTheme($event)"
        slot="end"
      ></ion-toggle>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="flag-sharp"></ion-icon>
      <ion-select
        interface="popover"
        (ionChange)="handleLanguageChange($event)"
        value="{{ this.selectedLanguageCode }}"
      >
        <ion-select-option
          *ngFor="let language of languagesList; index as i"
          value="{{ language.code }}"
          >{{ language.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center"
      >{{ 'pages.settings.version' | transloco }}: {{ this.getAppVersion()
      }}</ion-title
    >
  </ion-toolbar>
</ion-footer>
