<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Pets</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="!auth.isLoggedIn">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <p>Please log in an the account page to view your pets</p>
          <ion-button>Log in</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="auth.isLoggedIn">
    <ion-item *ngFor="let pet of myPets$ | async">
      <ion-card (click)="openPetModal(pet)">
        <ion-img
          *ngIf="pet.image"
          alt="cannot display image"
          src="{{ pet.image }}"
        />
        <ion-card-header>
          <ion-card-title>{{ pet.name }} ({{ pet.species }})</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="auth.isLoggedIn"
  >
    <ion-fab-button (click)="addPet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
