<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'pages.mypets.name' | transloco }}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button
        *ngIf="auth.isLoggedIn"
        (click)="loadPetShareInvites();loadPets()"
      >
        <ion-icon slot="icon-only" name="refresh-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="!auth.isLoggedIn">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <p>{{ 'pages.mypets.login_hint' | transloco }}</p>
          <ion-button (click)="this.router.navigate(['/tabs/account'])"
            >{{ 'pages.mypets.account_button' | transloco }}</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="auth.isLoggedIn">
    <ion-item *ngFor="let pet of myPets$ | async">
      <ion-card (click)="openPetModal(pet)">
        <ion-img
          *ngIf="pet.image"
          alt="cannot display image"
          src="{{ pet.image }}"
        />
        <ion-card-header>
          <ion-card-title
            >{{ pet.name }} ({{ pet.species ? (this.getSpeciesText(pet.species)
            | transloco): "" }})</ion-card-title
          >
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="auth.isLoggedIn"
  >
    <ion-fab-button (click)="addPet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
