<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        (click)="dismissModal()"
        defaultHref=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'pages.forgot_password.name' | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="full">
      <ion-input
        label="Email"
        labelPlacement="floating"
        type="email"
        #userMail
        required
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="forgotPassword(userMail)"
          type="submit"
          color="danger"
          expand="block"
          >Send</ion-button
        >
      </ion-col>
    </ion-row>
    <small>
      Please provide the email address that you used when you signed up for your
      Fur Meds account.
    </small>
  </form>
</ion-content>
