<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        (click)="dismissModal()"
        defaultHref="/tabs/account"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="full">
      <ion-input
        label="Email"
        labelPlacement="floating"
        type="text"
        #userMail
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input
        label="Password"
        labelPlacement="floating"
        type="password"
        #userPassword
        required
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="signIn(userMail.value, userPassword.value)"
          type="submit"
          color="danger"
          expand="block"
          >Sign In</ion-button
        >
        <a (click)="openForgotPasswordModal()" class="small-text"
          >Forgot Password?</a
        >
      </ion-col>
    </ion-row>
    <span class="divider line one-line">or</span>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="signInWithGoogle()"
          type="submit"
          color="danger"
          expand="block"
          >Sign In with Google</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
