name: ios-app

on:
  push:
    branches: ["main"]
    paths:
      - app/**
      - .github/workflows/ios_app.yml
  pull_request:
    branches: ["main"]
    paths:
      - app/**
      - .github/workflows/ios_app.yml

jobs:
  build_and_deploy:
    name: Build and deploy ios app
    runs-on: macos-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - name: Install bundler and fastlane
        working-directory: ./app/ios/App
        run: |
          gem install bundler:2.4.13
          gem install json:2.6.3
          gem install digest-crc:0.6.4
          gem install unf_ext:0.0.8.2
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Decode signing certificate into a file
        run: echo "${{ secrets.IOS_DIST_SIGNING_KEY }}" | base64 -d > ${GITHUB_WORKSPACE}/app/ios/App/signing-cert.p12
      - id: semver
        name: Git Semantic Version
        uses: PaulHatch/semantic-version@v5.0.3
        with:
          # The prefix to use to identify tags
          tag_prefix: "v"
          # A string which, if present in a git commit, indicates that a change represents a
          # major (breaking) change, supports regular expressions wrapped with '/'
          major_pattern: "(MAJOR)"
          # A string which indicates the flags used by the `major_pattern` regular expression. Supported flags: idgs
          major_regexp_flags: ""
          # Same as above except indicating a minor change, supports regular expressions wrapped with '/'
          minor_pattern: "(MINOR)"
          # A string which indicates the flags used by the `minor_pattern` regular expression. Supported flags: idgs
          minor_regexp_flags: ""
          # A string to determine the format of the version output
          version_format: "${major}.${minor}.${patch}-prerelease${increment}"
          # Optional path to check for changes. If any changes are detected in the path the
          # 'changed' output will true. Enter multiple paths separated by spaces.
          change_path: "backend/pets-api"
          # Named version, will be used as suffix for name version tag
          namespace: pets-api
          # If this is set to true, *every* commit will be treated as a new version.
          bump_each_commit: true
          # If true, the body of commits will also be searched for major/minor patterns to determine the version type.
          search_commit_body: false
          # The output method used to generate list of users, 'csv' or 'json'.
          user_format_type: "json"
          # Prevents pre-v1.0.0 version from automatically incrementing the major version.
          # If enabled, when the major version is 0, major releases will be treated as minor and minor as patch. Note that the version_type output is unchanged.
          enable_prerelease_mode: true
      - name: Build web app and sync to ios directory
        working-directory: ./app
        env:
          BUNDLE_GEMFILE: ${GITHUB_WORKSPACE}/app/ios/App/Gemfile
        run: |
          npm i -g @angular/cli
          npm ci
          ng build --configuration production
          npx cap sync ios
      - name: Build and deploy app
        working-directory: ./app/ios/App
        run: bundle exec fastlane ios build_upload_testflight
        env:
          ASC_KEY_ID: ${{ secrets.IOS_ASC_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.IOS_ASC_ISSUER_ID }}
          ASC_KEY: ${{ secrets.IOS_ASC_PRIVATE_KEY }}
          SIGNING_KEY_FILE_PATH: signing-cert.p12
